*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    height: 70px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}


.logo{
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.logo img{
    height: 45px;
    object-fit: contain;
}


.logo span{
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #252629;
    margin-left: 10px;
}

.searchBar{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 0px 20px;
    border-radius: 4px;
   
   
}

.nav-search{
    display: grid;
    grid-template-columns:  1fr 40px;
    grid-gap: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-search input,button{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.main {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.main li {
    margin-right: 20px; 
}

.main a {
    text-decoration: none;
    color: black; 
    padding: 10px; 
    display: block;
}


.nav-label{
    display: flex;
    align-items: center;
    border-right: 1px solid #d8d8d8;
    padding: 0px 10px;
    margin-right: 10px;
    color: #252629;
}

.nav-label select{
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 8px;
    border: none;
}

.nav-join{
    background-color: #05a081;
    max-width: 80px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

